.nhom_container {
  display: flex;
  gap: 16px;
  margin-top: 30px;
  .nhom_column {
    flex: 1;
    max-width: 300px;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    text-align: center;

    img {
      width: 100%;
      height: 200px;
      margin-bottom: 12px;
    }

    h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 8px;
    }

    .nhom_relate {
      p {
        margin: 4px 0;
        font-size: 14px;
        color: #555;
      }
    }
  }
}

.menu_hover {
  cursor: pointer; // Thay đổi con trỏ chuột thành dạng pointer
  position: relative; // Để dùng `::after`

  &::after {
    content: ""; // Thêm phần tử rỗng để tạo thanh ngang
    position: absolute;
    bottom: -4px; // Đặt thanh ngang phía dưới chữ
    left: 0;
    width: 0; // Ban đầu thanh ngang có độ rộng 0
    height: 2px; // Độ dày của thanh ngang
    background-color: #1dbf73; // Màu của thanh ngang
    transition: width 0.3s ease-in-out; // Hiệu ứng mở rộng khi hover
  }

  &:hover::after {
    width: 100%; // Khi hover, thanh ngang mở rộng toàn bộ chiều rộng của chữ
  }
}
