.detail_item {
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .detail_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 24px;
    img {
    }
    .info {
      margin-left: 14px;
      .info_title {
        display: flex;
        align-items: center;
        .info_name {
          text-transform: capitalize;
          font-size: 18px;
          margin-right: 10px;
          border-right: 1px solid #e4e5e7;
          padding-right: 10px;
          font-weight: bold;
        }
      }

      p {
      }
      .info_rating {
        display: flex;
        align-items: center;
        p {
          margin-left: 5px;
        }
        .danhGia {
          text-decoration: underline;
          color: #74767e;
        }
      }
    }
  }
  .detai_img {
    width: 100%;
    margin: 24px 0;
  }
  .detail_content {
    h2 {
      font-weight: bold;
      margin-bottom: 24px;
    }
    p {
    }
  }
}

.comment {
  .comment_group {
    border: 1px solid #e4e5e7;
    border-radius: 8px;
    margin: 20px 0;
    padding: 16px 24px;
    .comment_info {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      border-bottom: 1px solid #e4e5e7;
      padding-bottom: 20px;
      img {
      }
      .info_user {
        margin-left: 10px;
        .infor_name {
          font-weight: bold;
        }
      }
    }
    .comment_upper {
      .comment_rating {
        display: flex;
        justify-content: flex-start;
        margin-top: 16px;
        .star {
        }
        p {
          font-size: 18px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
      .comment_content {
      }
      .comment_bottom {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        .bottom_left {
          border-right: 1px solid #e4e5e7;
          padding-right: 50px;
          .upto {
            font-weight: bold;
          }
          .second {
            color: #62646a;
          }
        }
        .bottom_right {
          padding-left: 50px;

          .day {
            font-weight: bold;
          }
          .second {
            color: #62646a;
          }
        }
      }
    }
  }
}

.moTa {
  padding: 10px 150px;
  position: sticky;
  top: 100px;
  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
  }
  .moTa_top {
    border: 1px solid #e4e5e7;
    padding: 20px;
    border-radius: 8px;
    .moTa_title {
      font-size: 20px;
      font-weight: bold;
    }
    .moTa_price {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      .price_title {
      }
      .price {
        font-size: 20px;
      }
    }
    .moTa_content {
      color: #62646a;
      p {
      }
    }
    .moTa_btn {
      button {
        background-color: black;
        color: white;
        padding: 12px 24px;
        width: 100%;
        border-radius: 8px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
    .moTa_compare {
      text-align: center;
      a {
      }
    }
  }
  .moTa_bottom {
    margin-top: 10px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 24px 0;
    .btn_contact {
      button {
        border: 1px solid black;
        padding: 12px 100px;
        border-radius: 8px;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.detail {
  .detail_group {
    @media screen and (max-width: 1024px) {
      display: flex;
      .detail_left {
        width: 100%;
      }
      .detail_right {
        width: 100%;
      }
    }
    @media screen and (max-width: 576px) {
      margin-top: 100px;
      padding: 20px;
    }
  }
}
