.try_now {
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 576px) {
    padding: 0 24px;
  }
  .try_now_content {
    background-color: #e8faf4;
    padding: 56px 80px 32px 80px;
    border-radius: 16px;
    @media screen and (max-width: 576px) {
      padding: 20px;
      text-align: center;
      svg {
        margin-left: 25%;
      }
    }
    .content_both {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
      }
      @media screen and (max-width: 768px) {
      }
      @media screen and (max-width: 576px) {
      }
      .content_left {
        width: 50%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        @media screen and (max-width: 768px) {
        }
        @media screen and (max-width: 576px) {
        }
        h2 {
          margin: 32px 0;
          font-size: 48px;
          line-height: 1.2;
          span {
            font-family: "Domine", serif;
            color: #1dbf73;
          }
          @media screen and (max-width: 576px) {
            font-size: 40px;
          }
        }
        .content_left_group {
          @media screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            svg {
              margin-left: 45%;
            }
          }
          .content_left_item {
            .item {
              h6 {
                font-weight: bold;
                font-size: 18px;
              }
              p {
                font-size: 14px;
              }
              @media screen and (max-width: 576px) {
                padding: 0;
                margin: 0;
              }
            }
            @media screen and (max-width: 576px) {
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
        button {
          color: white;
          font-weight: bold;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .content_right {
        width: 50%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        @media screen and (max-width: 768px) {
        }
        @media screen and (max-width: 576px) {
        }
      }
    }
  }
}
