.item {
  margin-bottom: 40px;
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 576px) {
    padding: 0 24px;
  }
  .item_group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

    // @media screen and (max-width: 1024px) {
    //   display: flex;
    //   justify-content: space-evenly;
    // }
    // @media screen and (max-width: 768px) {
    //   display: flex;
    //   justify-content: space-evenly;
    // }
    // @media screen and (max-width: 576px) {
    //   display: flex;
    //   justify-content: space-evenly;
    // }

    .item_wrapper {
      width: 130px;

      .item_detail {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 16px 12px;
        border-radius: 12px;
        height: 130px;
        transition: all 0.5s;

        &:hover {
          // background-color: #1dbf73;
          background: radial-gradient(
            circle,
            #76c29e 0%,
            rgba(29, 191, 115, 0) 100%
          );

          cursor: pointer;
        }
        p {
          font-weight: bold;
          font-size: 14px;
          color: #222325;
          margin-top: 20px;
        }
        img {
          width: 30%;
        }
      }
    }
  }
}
