.goto {
  padding-bottom: 40px;
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 576px) {
    padding: 0 24px;
  }
  .goto_content {
    h3 {
      font-size: 28px;
      margin-bottom: 32px;
    }
    .goto_group {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
        justify-content: space-around;
      }
      @media screen and (max-width: 768px) {
      }
      @media screen and (max-width: 576px) {
      }
      .goto_item {
        width: 280px;
        padding: 20px 16px 16px 16px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 12px;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;

        &:hover {
          box-shadow: 0 0.08px 2.55728px rgba(0, 0, 0, 0.053),
            0 1.28px 5.57858px rgba(0, 0, 0, 0.077),
            0 3px 10px rgba(0, 0, 0, 0.13);
          cursor: pointer;
        }

        img {
        }
        p {
          margin-top: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
