.services {
  padding: 40px 0;
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 576px) {
    padding: 0 24px;
    margin-bottom: 20px;
  }
  .container {
    h2 {
      color: #404145;
      @media screen and (max-width: 576px) {
        font-size: 40px;
        text-align: center;
      }
    }
    .service_group_item {
      padding: 0 6px;
      margin: 12px 4px;
      @media screen and (max-width: 1024px) {
      }
      @media screen and (max-width: 768px) {
      }
      @media screen and (max-width: 576px) {
        margin-left: 35px;
      }
      .services_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        &:hover {
          opacity: 0.88;
          cursor: pointer;
        }
        @media screen and (max-width: 1024px) {
        }
        @media screen and (max-width: 768px) {
        }
        @media screen and (max-width: 576px) {
          text-align: center;
          height: 200px;
          width: 80%;
        }
        h3 {
        }
        img {
          @media screen and (max-width: 1024px) {
          }
          @media screen and (max-width: 768px) {
          }
          @media screen and (max-width: 576px) {
            margin: 0 auto;
            width: 70%;
          }
        }
      }
    }
  }
}

.customArrow {
  box-shadow: 0 1.2px 1.92251px rgba(0, 0, 0, 0.02),
    0 2px 3.68135px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.05);
}
.customArrow::before {
  color: black;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .customArrow {
    display: none !important;
  }
  .customArrow::before {
    color: black;
  }
}
